/*------------Menu and Header Set--------------*/
.title {
    margin:0;
    background-color:#6f6e6e;
    text-align:center;
    Text-transform:Capitalize;
    color:#635e5e;
    font-size:30px;}
    
body {
    background-color:#6f6e6e;
    
}

h1, h2 {
    text-shadow: 20px 13px 15px rgba(0,0,0,0.34);
    color:#dadada;
    background-color: #6f6e6e;
}



.heading{
    margin:0px;
    color:#fafafa;
    border:solid 1px black;
    letter-spacing: 2px;
    
    min-height:120px;
    width:auto;
    
    position:fixed;
    display:block;
    padding:0px;
    
    font-size:26px;
    font-family:"Roboto", sans-serif;
    text-align: center;
}


/*--------List Item ---------*/

.row{
  
 
      color:#dfdfdf;
    border: 2px solid aliceblue;
    transform:none;
    background-color: #6f6e6e;
    z-index: 1;
    position:relative;
    opacity: .9;
}



/*-----Nav Design Elements--*/




.nav-design-book-now{
    Background-color:#dadada;
    color:#dc3545;
    
}

.nav-design-the-vault{ 
    background-color:#dadada;
     color:#dc3545;
    
    
}
.nav-design-about-us{
    background-color:#dadada;
     color:#dc3545;
    
}
.nav-design-our-fans{
    background-color:#dadada;
     color:#dc3545;
    
    
}

.nav:hover{
    background-color:#dfdfdf;
}

/*------------Icon Coloring-------------*/
.fas.fa-warehouse{
    color:#137bff
    ;
    
}

/*-------------iFrames class-------------------*/
.frames{
    Width:100vw;
    height:40vw;
}