/*------------Menu and Header Set--------------*/
.title {
    margin:0;
    background-color:#3e8ce0;
    text-align:center;
    Text-transform:Capitalize;
    color:#dadada;
    font-size:30px;
    
}

.heading{
    margin:0px;
    color:#fafafa;
    border:solid 1px black;
    letter-spacing: 2px;
    
    min-height:120px;
    width:auto;
    
    position:fixed;
    display:block;
    padding:0px;
    
    font-size:26px;
    font-family:"Roboto", sans-serif;
    text-align: center;
}

/*--------List Item ---------*/

.row{
  
 
      color:#dfdfdf;
    border: 2px solid aliceblue;
    transform:none;
}



/*-----Nav Design Elements--*/




.nav-design-book-now{
    Background-color:#dadada;
    color:#dc3545;
    
}

.nav-design-the-vault{ 
    background-color:#dadada;
     color:#dc3545;
    
    
}
.nav-design-about-us{
    background-color:#dadada;
     color:#dc3545;
    
}
.nav-design-our-fans{
    background-color:#dadada;
     color:#dc3545;
    
    
}

.nav:hover{
    background-color:#dfdfdf;
}
