
/*---Section Rules-----*/

header{background-color: #dadada;
        Border: solid 2px;
        min-height: 120px;
        Font-size: 25px;
        text-align: center;
    
}

body {
    background-color:#fafafa;
    
}